---
layout: layouts/home.njk
# TODO: Uncomment when tags page is ready
# eleventyNavigation:
#   key: Архив
#   order: 2
---
<h1>Архив</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
