---
layout: layouts/home.njk
eleventyNavigation:
  key: Блог
  order: 1

---
{% set currentYear = collections.posts | getPostYears | first %}
{% set postslist = collections.posts | filterByYear(currentYear) %}

<h1 class="visually-hidden">{{ currentYear }}</h1>

{% include "postslist.njk" %}

{# Year navigation - bottom #}
{% set style = "margin-top: 2em;" %}
{% include "yearNavigation.njk" %}