---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Тег “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Категория “{{ tag }}”</h1>

<p>Все категории можно посмотреть <a href="/tags/">здесь</a>.</p>

{% set postslist = collections[tag] %}
{% include "postslist.njk" %}

