<div class="postlist">
{% for post in postslist | reverse %}
	<article class="postlist-post"{% if post.data.draft %} style="opacity: 0.5"{% endif %}>
		<a href="{{ post.url }}" class="postlist-link">
			<img src="{%- if post.data.thumb %}{{ post.url }}/{{post.data.thumb}}{% else %}/img/thumb.png{%- endif %}" alt="" class="post-thumb"  loading="lazy" />

			{% if post.data.title %}
				<h2>
					{{post.data.title}}
					{% if post.data.many_photos %}<div class="post-badge">Много фото</div>{% endif %}
					{% if post.data.draft %}<span class="post-badge">Черновик</span>{% endif %}
				</h2>
			{% else %}
				<code>{{ post.url }}</code>
			{% endif %}
		</a>
		<div>
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
{# 
			{% if post.data.tags %}
			<div class="postlist-tags">
				{%- for tag in post.data.tags | filterTagList %}
				{{ tag }}{%- if not loop.last %}, {% endif %}
				{%- endfor %}
			</div>
			{% endif %} #}

		</div>
		{# <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time> #}
	</article>
{% endfor %}
</div>