<div class="postlist">
{% for post in postslist | reverse %}
	<article class="postlist-post">
		<a href="{{ post.url }}" class="postlist-link">
			<img src="{%- if post.data.thumb %}{{ post.url }}/{{post.data.thumb}}{% else %}/img/thumb.png{%- endif %}" alt="" class="post-thumb" />
			{% if post.data.title %}<h2 c>{{post.data.title}}</h2>{% else %}<code>{{ post.url }}</code>{% endif %}
		</a>
		<div>
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
		</div>
		{# <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time> #}
	</article>
{% endfor %}
</div>