{% set allYears = collections.posts | getPostYears %}
<nav class="special-font" style="text-align: center; font-size: 1.5em; {{ style }}">
{%- for year in allYears %}
	{%- if year == currentYear %}
	<span class="bold">{{ year }}</span>
	{%- else %}
	{%- set yearHref = "/" if loop.first else "/blog/" + year + "/" %}
	<a href="{{ yearHref }}">{{ year }}</a>
	{%- endif %}
	{%- if not loop.last %} {% endif %}
{%- endfor %}
</nav>