---
layout: layouts/base.njk
---

<article class="post-content">

{# {% image "./thumb.svg", "alt text" %} #}
<img src="{%- if thumb %}./{{thumb}}{%- endif %}" alt="" class="post-thumb" />
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | htmlDateString }}</time></li>
	{# <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li> #}
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if telegram_comments_url %}
	<a href="{{telegram_comments_url}}" rel="nofollow" target="_blank" class="btn flex width-auto text-center">
		<img src="/img/telegram_logo.svg" alt="" style="width: 1.5em; height: 1.5em; line-height: 0.5; margin-right: 0.5em; margin-left: 0" />
		Оставить комментарий к статье в Telegram
		</a>
{%- endif %}

</article>


{# <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="7cMSjQ0P" data-limit="10"></script> #}

{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}<li>Ранее: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
			{%- if nextPost %}<li>Далее: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
		</ul>
	{%- endif %}
{%- endif %}
