---
layout: layouts/base.njk
---

{# {% image "./thumb.svg", "alt text" %} #}
<img src="{%- if thumb %}./{{thumb}}{%- endif %}" alt="" class="post-thumb" />
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | htmlDateString }}</time></li>
	{# <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li> #}
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

<article class="post-content">
{{ content | safe }}
</article>

{# {%- if telegram_post_id %}
	Оставить комментарий к статье можно <a href="https://t.me/paveldowl/{{telegram_post_id}}" rel="nofollow" target="_blank">в Telegram</a>
{%- endif %} #}

{%- if telegram_comments_id %}
	Оставить комментарий к статье можно <a href="https://t.me/{{telegram_comments_id}}" rel="nofollow" target="_blank">в Telegram</a>
{%- endif %}


{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}<li>Ранее: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
			{%- if nextPost %}<li>Далее: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
		</ul>
	{%- endif %}
{%- endif %}
